/*обратная связь*/
.contacts-nav {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  white-space: nowrap;
}

.contacts-nav__item:not(:first-child) {
  margin-left: 50px;
}

.contacts-nav__link {
  display: flex;
  align-items: center;

  color: $text-color;

  transition: color 250ms $timing-fn;

  &:hover,
  &:focus {
    color: $accent-color;
    outline: none;
  }
  }


/*иконки*/
.contacts-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
